@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');


/*
.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
*/

ul{
    padding: 0;
    margin: 0;
}

.timeline_container{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    width: 100vw;
    margin-bottom: 10vh;
}

.timeline{
    margin: 20px auto;
    list-style: none;
    position: relative;
}

.timeline:before{
    content: '';
        position: absolute;
    background: #4a4a4a;
    width: 1px;
    height: 100%;
    left: 50%;
}

.timeline-event{
    width: 50%;
    padding:0 40px 30px 40px;
    position: relative;
    display: inline-block;

}


.timeline-event::before{
    content: "";
    position: absolute;
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(82, 82, 82);
    /* outline: 10px solid white; */
    display: block; 
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
}

.timeline-event-copy::before{
    content: "";
    position: absolute;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2e2b2b;
    /* outline: 10px solid white; */
    display: block; 
    position: absolute;
    width: 20px;
    height: 20px;
    top:10px;
    left:30px;
    z-index: -2;
}

.timeline-event:nth-child(odd) .timeline-event-copy::before{
    left:calc(100% - 50px);  
}




.timeline-event:nth-child(odd)::before{
    left:calc(100% - 10px);
    
}



.timeline-event-copy{
    background-color: #2e2b2b;
    padding: 20px;
    border-radius: 10px;
}

.timeline-event:nth-child(even){
    float: right;
    clear: both;
    text-align: left;
}

.timeline-event:nth-child(even) .timeline-event-copy{
    float: left;
    box-shadow: 3px 2px 5px 0px rgb(34, 34, 34);

}



.timeline-event:nth-child(odd){
    float: left;
    clear: both;
    text-align: right;
    
}


.timeline-event:nth-child(odd) .timeline-event-copy{
    float: right;

    
  
box-shadow: -3px 2px 5px 0px rgb(34, 34, 34);
}





 .timeline-event:hover::before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a83279;
  }
  .timeline-event:hover .timeline-event-thumbnail {
    -moz-box-shadow: inset 40em 0 0 0 #a83279;
    -webkit-box-shadow: inset 40em 0 0 0 #a83279;
    box-shadow: inset 40em 0 0 0 #a83279;
  }
  
  .timeline-event-copy {
      text-align: center;
  }
  .timeline-event-copy h3 {
    font-size: 1.3em;
  }
  .timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  .timeline-event-copy strong {
    font-weight: 700;
  }
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.5em;
  }
  




  
  .timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* background-color: black; */

    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
      
    border-radius: 10px;
  }

 
  




  .illust{
    margin: 0 auto;
    font-size: 50px;
    /* color: #8e39dd; */
  }

  .illust i:before{
      /* background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333)); */
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  
@media screen and (max-width:630px){
    .timeline-event-thumbnail{
        font-size: 18px;
    }
    
    .illust{
        font-size: 35px;
    }
}
  
@media screen and (max-width:584px){
    
    .timeline-event-thumbnail{
        font-size: 17px;
    }
    
    .timeline-event-copy h3 {
    font-size: 16px;
  }
    
    .timeline-event-copy{
        padding: 7px
    }
}
  
