#pasc{
  padding: 0;
  color: white;
  font-family: 'consolas';
  animation: type 4s steps(13), blinking 1s infinite;
  overflow: hidden;
  white-space:nowrap;
  border-right:3px solid white;
  width: 13ch;
  font-size: 10vw;
  margin: 0%;
}
@keyframes type{
  0%{
    width:0ch;
  }
  100%
  {
    width:13ch;
  }
}
@keyframes blinking
{
  50%
  {
    border-color: transparent;
  }
}