h1
{
   font-size: 80px;
}
.s1 h2
{
  font-size: 35px;
  margin: 0;
  color: white;
}
.s2 h2
{
  color: white;
  font-size: 35px;
  margin: 0;
}
.s3 h2
{
  color: white;
  margin: 0;
  font-size: 35px;
}
.s4 h2
{
  color: white;
  margin: 0;
  font-size: 35px;
}
.s5 h2
{
  color: white;
  margin: 0;
  font-size: 35px;
}
.s6 h2
{
  color: white;
  margin: 0;
  font-size: 35px;
}
h3
{
  font-size: 25px;
}
body
{
    background: url('../ASSETS/Images/1st Page.png');
    background-size: cover;
    font-family: 'Raleway';
    color:white;
    text-align: center;
}
.fp-nav
{
  background: white !important;
}
.s1 h1
{
  font-size: 100px;
}
.twenty-text
{
  color: #03dbfc;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgba(0,0,0,.1);
}

h2 {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  color: black;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #252525;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: whitesmoke;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px skyblue;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: skyblue;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .5s ease;
}

details[open] .control-icon-expand {
  display: none;
}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}